{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended"
  ],
  "globals": {
    "process": "readonly",
    "require": "readonly"
  },
  "overrides": [
    {
      "env": {
        "jest": true
      },
      "files": [
        "**/*.test.js"
      ],
      "plugins": [
        "jest"
      ]
    }
  ],
  "rules": {
    "eqeqeq": "error",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "react/react-in-jsx-scope": "off"
  }
}
